@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HD Decisions Credit Solutions</h1>
    <p>In order to find the best credit solution for you, we've prepared a quick survey. Click the option above to start.</p>
</div>
