@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data processed within this site is kept for metric purposes.<p>
    
<p>If you do not wish for your data to be kept on our system, please contact us by phone on 0115 948 3699, or by email at <a href="mailto:contact@hddecisions.co.uk" target="_top">contact@hddecisions.co.uk</a>.</p>
