@model HD_Decisions_Case_Study.Models.FormData

@{
    ViewData["Title"] = "Barclaycard";
}

<h1>Barclaycard</h1>

<p>For your income, we would recommend the Barclaycard credit solution. The APR of this card is 21.9%</p>


<img src="https://www.barclays.co.uk/content/dam/lifestyle-images/personal/credit-cards/ccard_platinum_16_9.full.high_quality.png" width="500" height="300" alt="Barclaycard">

<p>
    Barclaycard Platinum up to 28 month balance transfer card (a transfer fee applies)

    
<p>
    You could enjoy:
    <ol>
        <li>0% interest on purchases, for six months after you open your account.</li>
        <li>0% interest on balance transfers for up to 28 months, which starts on the date you open your account (a 1.75% fee applies). </li>

    </ol>
</p> 
            
            
<p>You’ll need to make your transfers within the first 60 days to enjoy the 0% offer.</p>

