@model HD_Decisions_Case_Study.Models.FormData

@{
    ViewData["Title"] = "Vanquis";
}

<h1>Vanquis</h1>

<p>For your income, we would recommend the Vanquis credit solution. The APR of this card is 59.9%</p>


<img src="https://ddialhyn49dxu.cloudfront.net/cards/vanquis-black-large.png" width="500" height="300" alt="Vanquis">

<p>
    Origin Card by Vanquis Bank

</p>
<p>
    You could enjoy:
    <ol>
        <li>Manageable starting credit limit of £150 to £1,000</li>
        <li>Build your way to a credit limit of up to £3,500</li>
        <li>Stay in control of your account with online servicing, an app, SMS and email alerts</li>
    </ol>
</p>
